<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.report.dao.mapper.ReportInstanceMapper">

	<select id="checkReportInstanceExists" parameterType="java.lang.Long" resultType="int">
		select
		count(`id`)
		from `reportinstance`
		where `id` = #{value}
	</select>

	<select id="getReportInstanceById" parameterType="java.lang.Long" resultType="neatlogic.module.report.dto.ReportInstanceVo">
		SELECT
		`id`,
		`report_id` AS reportId,
		`name`,
		`visit_count` AS visitCount,
		`is_active` AS isActive,
		`config`,
		`fcu`,
		`lcu`,
		`fcd`,
		`lcd`
		FROM
		`reportinstance`
		WHERE id = #{value}
	</select>

	<select id="getReportInstanceAuthByReportInstanceId" parameterType="java.lang.Long" resultType="neatlogic.module.report.dto.ReportInstanceAuthVo">
		SELECT
		`reportinstance_id` AS reportInstanceId,
		`type` AS authType,
		`auth_uuid` AS authUuid
		FROM
		`reportinstance_auth`
		WHERE
		reportinstance_id = #{value}
	</select>

	<sql id="searchReportInstanceCondition">
		JOIN
		`report` b ON a.report_id = b.id
		<where>
			<if test="keyword!=null and keyword != ''">
				AND a.name LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="reportId !=null">
				AND a.report_id = #{reportId}
			</if>
			<if test="isActive != null">
				AND a.is_active = #{isActive}
			</if>
			<if test="searchByFcu == 1">
				AND a.`fcu` = #{fcu}
			</if>
		</where>
	</sql>

	<select id="searchReportInstance" parameterType="neatlogic.module.report.dto.ReportInstanceVo" resultType="neatlogic.module.report.dto.ReportInstanceVo">
		SELECT
		a.`id`,
		a.`report_id` AS reportId,
		b.`name` AS reportName,
		a.`name`,
		a.`visit_count` AS visitCount,
		a.`is_active` AS isActive,
		a.`config`,
		a.`fcu`,
		a.`lcu`,
		a.`fcd`,
		a.`lcd`
		FROM
		`reportinstance` a
		<include refid="searchReportInstanceCondition"></include>
		ORDER BY a.id DESC
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="searchReportInstanceCount" parameterType="neatlogic.module.report.dto.ReportInstanceVo" resultType="int">
		SELECT
		count(a.id)
		FROM
		`reportinstance` a
		<include refid="searchReportInstanceCondition"></include>
	</select>

	<select id="getReportInstanceList" parameterType="neatlogic.module.report.dto.ReportInstanceVo" resultType="neatlogic.module.report.dto.ReportInstanceVo">
		select
		a.`id`,
		a.`name`
		from `reportinstance` a
		<where>
			<if test="reportInstanceAuthList != null and reportInstanceAuthList.size() > 0">
				AND EXISTS (SELECT 1 FROM reportinstance_auth auth WHERE auth.reportinstance_id = a.id AND
				<foreach collection="reportInstanceAuthList" item="auth" open="(" separator="OR" close=")">
					(auth.type = #{auth.authType} AND auth.auth_uuid = #{auth.authUuid})
				</foreach>
				)
			</if>
			<if test="isActive != null">
				and a.`is_active` = #{isActive}
			</if>
			<if test="searchByFcu == 1">
				and a.`fcu` = #{fcu}
			</if>
		</where>
		order by a.`id` desc
	</select>

	<select id="getReportInstanceTableColumnList" parameterType="java.lang.Long" resultType="neatlogic.module.report.dto.ReportInstanceTableColumnVo">
		SELECT
		`table_id` AS tableId,
		`column`,
		`sort`
		FROM
		`reportinstance_table_column`
		WHERE `reportinstance_id` = #{value}
	</select>

	<select id="checkReportInstanceExistsByReportId" parameterType="java.lang.Long" resultType="int">
		select
		count(1)
		from `reportinstance`
		where `report_id` = #{value}
	</select>

	<update id="updateReportInstance" parameterType="neatlogic.module.report.dto.ReportInstanceVo">
		UPDATE
		`reportinstance`
		SET
		`report_id` = #{reportId},
		`name` = #{name},
		`is_active` = #{isActive},
		`config` = #{configStr},
		`lcu` = #{lcu},
		`lcd` = NOW(3)
		WHERE `id` = #{id}
	</update>

	<update id="updateReportInstanceActive" parameterType="neatlogic.module.report.dto.ReportInstanceVo">
		UPDATE
		`reportinstance`
		SET
		`is_active` = #{isActive},
		`lcu` = #{lcu},
		`lcd` = NOW(3)
		WHERE `id` = #{id}
	</update>

	<insert id="insertReportInstanceAuthList" parameterType="neatlogic.module.report.dto.ReportInstanceAuthVo">
		INSERT INTO `reportinstance_auth` (
		`reportinstance_id`,
		`type`,
		`auth_uuid`
		)
		VALUES
		<foreach collection="list" item="authorityVo" separator=",">
			(
			#{authorityVo.reportInstanceId},
			#{authorityVo.authType},
			#{authorityVo.authUuid}
			)
		</foreach>
	</insert>

	<insert id="insertReportInstance" parameterType="neatlogic.module.report.dto.ReportInstanceVo">
		INSERT INTO `reportinstance` (
		`id`,
		`report_id`,
		`name`,
		`visit_count`,
		`is_active`,
		`config`,
		`fcu`,
		`fcd`,
		`lcu`,
		`lcd`
		)
		VALUES
		(
		#{id},
		#{reportId},
		#{name},
		0,
		#{isActive},
		#{configStr},
		#{fcu},
		NOW(3),
		#{fcu},
		NOW(3)
		)
	</insert>

	<insert id="batchInsertReportInstanceTableColumn" parameterType="java.util.List">
		INSERT INTO `reportinstance_table_column`(
		`reportinstance_id`,
		`table_id`,
		`column`,
		`sort`
		)
		VALUES
		<foreach collection="list" index="index" item="item" separator=",">
			(
			#{item.reportInstanceId},
			#{item.tableId},
			#{item.column},
			#{item.sort}
			)
		</foreach>
	</insert>

	<delete id="deleteReportInstanceAuthByReportInstanceId" parameterType="java.lang.Long">
		DELETE
		FROM
		`reportinstance_auth`
		WHERE `reportinstance_id` = #{value}
	</delete>

	<delete id="deleteReportInstanceTableColumn" parameterType="java.lang.Long">
		DELETE
		FROM
		`reportinstance_table_column`
		WHERE `reportinstance_id` = #{value}
	</delete>

	<delete id="deleteReportInstanceById" parameterType="java.lang.Long">
		DELETE
		FROM
		`reportinstance`
		WHERE `id` = #{value}
	</delete>
</mapper>
