<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2022 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.report.dao.mapper.ReportConfigMapper">
    <select id="checkItemIsExists" parameterType="neatlogic.framework.report.dto.ReportBlackWhiteListVo"
            resultType="int">
        select count(1)
        from `report_blackwhitelist`
        where item_name = #{itemName}
          and item_type = #{itemType}
          and id != #{id}
    </select>

    <select id="getBlackWhiteById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.report.dto.ReportBlackWhiteListVo">
        SELECT id,
               description,
               item_name AS itemName,
               item_type AS itemType,
               type
        FROM `report_blackwhitelist`
        where id = #{value}
    </select>

    <select id="searchBlackWhiteList" parameterType="neatlogic.framework.report.dto.ReportBlackWhiteListVo"
            resultType="neatlogic.framework.report.dto.ReportBlackWhiteListVo">
        SELECT id,
        description,
        item_name AS itemName,
        item_type AS itemType,
        type
        FROM `report_blackwhitelist`
        <include refid="searchBlackWhiteListCondition"></include>
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchBlackWhiteListCount" parameterType="neatlogic.framework.report.dto.ReportBlackWhiteListVo"
            resultType="int">
        SELECT count(1)
        FROM `report_blackwhitelist`
        <include refid="searchBlackWhiteListCondition"></include>
    </select>

    <sql id="searchBlackWhiteListCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                and description like concat('%',#{keyword},'%')
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="itemType != null and itemType != ''">
                and item_type = #{itemType}
            </if>
        </where>
    </sql>

    <insert id="insertBlackWhiteList" parameterType="neatlogic.framework.report.dto.ReportBlackWhiteListVo">
        insert into report_blackwhitelist (id, item_name, item_type, type, description)
        values (#{id}, #{itemName}, #{itemType}, #{type}, #{description})
    </insert>

    <update id="updateBlackWhiteList" parameterType="neatlogic.framework.report.dto.ReportBlackWhiteListVo">
        update report_blackwhitelist
        set item_name   = #{itemName},
            item_type   = #{itemType},
            type        = #{type},
            description = #{description}
        where id = #{id}
    </update>
</mapper>
