<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2022 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.report.dao.mapper.ReportDataSourceMapper">
    <select id="checkDataSourceNameIsExists" parameterType="codedriver.framework.report.dto.ReportDataSourceVo"
            resultType="int">
        select count(1)
        from report_datasource
        where name = #{name}
          and id != #{id}
    </select>

    <select id="getAllHasCronReportDataSource" resultType="codedriver.framework.report.dto.ReportDataSourceVo">
        select a.id,
               a.`name`,
               a.label,
               a.description,
               a.cron_expression as cronExpression,
               a.is_active       as isActive
        from report_datasource a
        where is_active = 1
          and a.cron_expression is not null
          and a.cron_expression != ''
    </select>

    <resultMap id="dataSourceResultMap" type="codedriver.framework.report.dto.ReportDataSourceVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="label" property="label"/>
        <result column="description" property="description"/>
        <result column="cronExpression" property="cronExpression"/>
        <result column="mode" property="mode"/>
        <result column="xml" property="xml"/>
        <result column="status" property="status"/>
        <result column="expireDay" property="expireDay"/>
        <result column="isActive" property="isActive"/>
        <result column="dataCount" property="dataCount"/>
        <collection property="fieldList" ofType="codedriver.framework.report.dto.ReportDataSourceFieldVo">
            <id column="fieldId" property="id"/>
            <result column="fieldName" property="name"/>
            <result column="fieldLabel" property="label"/>
            <result column="fieldType" property="type"/>
            <result column="fieldInputType" property="inputType"/>
            <result column="fieldIsKey" property="isKey"/>
        </collection>
        <collection property="conditionList" ofType="codedriver.framework.report.dto.ReportDataSourceConditionVo">
            <id column="conditionId" property="id"/>
            <result column="conditionName" property="name"/>
            <result column="conditionLabel" property="label"/>
            <result column="conditionType" property="type"/>
            <result column="conditionValue" property="value"/>
            <result column="conditionIsRequired" property="isRequired"/>
        </collection>
    </resultMap>

    <select id="getReportDataSourceByIdList" resultType="codedriver.framework.report.dto.ReportDataSourceVo">
        select a.id,
        a.`name`,
        a.label,
        a.description,
        a.mode,
        a.data_count as dataCount,
        a.expire_day as expireDay,
        a.cron_expression as cronExpression,
        a.is_active as isActive,
        a.status as status
        from report_datasource a
        where a.id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </select>

    <select id="getReportDataSourceById" parameterType="java.lang.Long"
            resultMap="dataSourceResultMap">
        select a.id,
               a.`name`,
               a.label,
               a.description,
               a.`xml`,
               a.mode,
               a.expire_day      as expireDay,
               a.cron_expression as cronExpression,
               a.is_active       as isActive,
               a.status          as status,
               a.data_count      as dataCount,
               b.id              as fieldId,
               b.name            as fieldName,
               b.label           as fieldLabel,
               b.type            as fieldType,
               b.input_type      as fieldInputType,
               b.is_key          as fieldIsKey,
               c.id              as conditionId,
               c.`name`          as conditionName,
               c.label           as conditionLabel,
               c.type            as conditionType,
               c.`value`         as conditionValue,
               c.is_required     as conditionIsRequired
        from report_datasource a
                 left join report_datasource_field b on a.id = b.datasource_id
                 left join report_datasource_condition c on a.id = c.datasource_id
        where a.id = #{value}
    </select>

    <sql id="searchReportDataSourceSql">
        <where>
            <if test="keyword != null and keyword != ''">
                AND (`name` like concat('%',#{keyword},'%')
                or `label` like concat('%', #{keyword}, '%')
                or `description` like concat('%' ,#{keyword},'%')
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
        </where>
    </sql>

    <select id="searchReportDataSource" parameterType="codedriver.framework.report.dto.ReportDataSourceVo"
            resultType="codedriver.framework.report.dto.ReportDataSourceVo">
        select id,
        name,
        label,
        description,
        mode,
        status,
        data_count AS dataCount,
        expire_day as expireDay,
        cron_expression as cronExpression,
        is_active as isActive
        from report_datasource
        <include refid="searchReportDataSourceSql"></include>
    </select>

    <select id="searchReportDataSourceCount" parameterType="codedriver.framework.report.dto.ReportDataSourceVo"
            resultType="int">
        select count(1)
        from report_datasource
        <include refid="searchReportDataSourceSql"></include>
    </select>

    <select id="updateReportDataSource" parameterType="codedriver.framework.report.dto.ReportDataSourceVo">
        update report_datasource
        set label           = #{label},
            cron_expression = #{cronExpression},
            description     = #{description},
            mode            = #{mode},
            expire_day      = #{expireDay},
            is_active       = #{isActive},
            data_count      = #{dataCount}
        where id = #{id}
    </select>

    <select id="updateReportDataSourceIsActive" parameterType="codedriver.framework.report.dto.ReportDataSourceVo">
        update report_datasource
        set is_active = #{isActive}
        where id = #{id}
    </select>

    <select id="insertReportDataSource" parameterType="codedriver.framework.report.dto.ReportDataSourceVo">
        insert into report_datasource (id,
                                       name,
                                       label,
                                       description,
                                       xml,
                                       is_active)
        values (#{id},
                #{name},
                #{label},
                #{description},
                #{xml},
                #{isActive})
    </select>

    <update id="updateReportDataSourceStatus" parameterType="codedriver.framework.report.dto.ReportDataSourceVo">
        update report_datasource
        set status = #{status}
        <if test="dataCount!=null">
            ,data_count = #{dataCount}
        </if>
        where id = #{id}
    </update>

    <update id="updateReportDataSourceConditionValue"
            parameterType="codedriver.framework.report.dto.ReportDataSourceConditionVo">
        update report_datasource_condition
        set value = #{value}
        where id = #{id}
    </update>


    <insert id="insertReportDataSourceField" parameterType="codedriver.framework.report.dto.ReportDataSourceFieldVo">
        insert into report_datasource_field
        (id,
         datasource_id,
         name,
         label,
         type,
         input_type,
         config,
         is_key)
        values (#{id},
                #{dataSourceId},
                #{name},
                #{label},
                #{type},
                #{inputType},
                #{configStr},
                #{isKey})
    </insert>

    <insert id="insertReportDataSourceCondition"
            parameterType="codedriver.framework.report.dto.ReportDataSourceConditionVo">
        insert into report_datasource_condition
        (id,
         datasource_id,
         name,
         label,
         type,
         is_required,
         config)
        values (#{id},
                #{dataSourceId},
                #{name},
                #{label},
                #{type},
                #{isRequired},
                #{configStr})
    </insert>


    <delete id="deleteReportDataSourceFieldByDataSourceId" parameterType="java.lang.Long">
        delete
        from report_datasource_field
        where datasource_id = #{value}
    </delete>

    <delete id="deleteReportDataSourceConditionByDataSourceId" parameterType="java.lang.Long">
        delete
        from report_datasource_condition
        where datasource_id = #{value}
    </delete>
</mapper>
