<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2022 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.report.dao.mapper.ReportMapper">
    <select id="getReportParamByReportId" parameterType="java.lang.Long"
            resultType="codedriver.module.report.dto.ReportParamVo">
        SELECT `id`        AS id,
               `report_id` as reportId,
               `name`,
               `type`,
               `label`,
               `config`,
               `width`
        FROM `report_param`
        WHERE report_id = #{value}
        order by sort
    </select>

    <sql id="searchReportCondition">
        <where>
            <if test="reportAuthList != null and reportAuthList.size() > 0">
                AND EXISTS (SELECT 1 FROM report_auth auth WHERE auth.report_id = a.id AND
                <foreach collection="reportAuthList" item="auth" open="(" separator="OR" close=")">
                    (auth.type = #{auth.authType} AND auth.auth_uuid = #{auth.authUuid})
                </foreach>
                )
            </if>
            <if test="keyword!=null and keyword != ''">
                AND name LIKE CONCAT('%',#{keyword},'%')
            </if>
            <if test="type != null"><!--空字符串代表未分类，所以不判断!=''-->
                AND type = #{type}
            </if>
            <if test="isActive != null">
                AND `is_active` = #{isActive}
            </if>
        </where>
    </sql>

    <select id="searchReport" parameterType="codedriver.module.report.dto.ReportVo"
            resultType="codedriver.module.report.dto.ReportVo">
        SELECT
        `id`,
        `name`,
        `type`,
        `is_active` as isActive,
        `visit_count` as visitCount,
        `fcu`,
        `lcu`,
        `fcd`,
        `lcd`
        FROM
        `report` a
        <include refid="searchReportCondition"></include>
        ORDER BY a.id DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="searchReportCount" parameterType="codedriver.module.report.dto.ReportVo" resultType="int">
        SELECT
        COUNT(1)
        FROM
        `report` a
        <include refid="searchReportCondition"></include>
    </select>

    <select id="getAllReportType" resultType="codedriver.module.report.dto.ReportTypeVo">
        SELECT COUNT(1) AS reportCount,
               TYPE     as name,
               TYPE     as label
        FROM `report`
        GROUP BY TYPE
    </select>

    <select id="getReportById" parameterType="java.lang.Long" resultType="codedriver.module.report.dto.ReportVo">
        SELECT `id`,
               `name`,
               `type`,
               `sql`,
               `condition`,
               `content`,
               `is_active`   AS isActive,
               `visit_count` AS visitCount,
               `fcu`,
               `lcu`,
               `fcd`,
               `lcd`
        FROM `report`
        WHERE id = #{value}
    </select>

    <select id="getReportAuthByReportId" parameterType="java.lang.Long"
            resultType="codedriver.module.report.dto.ReportAuthVo">
        SELECT `report_id` as reportId,
               `type`      as authType,
               `auth_uuid` as authUuid
        FROM `report_auth`
        WHERE report_id = #{value}
    </select>

    <select id="getReportBaseInfo" parameterType="java.lang.Long" resultType="codedriver.module.report.dto.ReportVo">
        select `id`,
               `name`,
               `type`,
               `is_active`   as isActive,
               `visit_count` AS visitCount,
               `fcu`,
               `fcd`,
               `lcu`,
               `lcd`
        from `report`
        where `id` = #{value}
    </select>

    <select id="getReportParamCountByMatrixUuid" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1)
        from report_param
        where config like CONCAT('%', #{value}, '%')
    </select>

    <select id="getReportParamByMatrixUuid" resultType="codedriver.module.report.dto.ReportParamVo">
        select a.id as reportId, a.name as reportName, b.name
        from report a
                 join report_param b
                      on a.id = b.report_id
        where b.config like CONCAT('%', #{matrixUuid}, '%')
        LIMIT #{startNum}, #{pageSize}
    </select>

    <update id="updateReportActive" parameterType="codedriver.module.report.dto.ReportVo">
        UPDATE
            `report`
        SET `is_active` = #{isActive},
            `lcu`       = #{lcu},
            `lcd`       = NOW(3)
        WHERE `id` = #{id}
    </update>

    <update id="updateReport" parameterType="codedriver.module.report.dto.ReportVo">
        UPDATE
            `report`
        SET `name`      = #{name},
            `type`      = #{type},
            `sql`       = #{sql},
            `condition` = #{condition},
            `content`   = #{content},
            `is_active` = #{isActive},
            `lcu`       = #{lcu},
            `lcd`       = NOW(3)
        WHERE `id` = #{id}
    </update>

    <update id="updateReportVisitCount" parameterType="java.lang.Long">
        UPDATE report
        SET visit_count = visit_count + 1
        WHERE id = #{value}
    </update>

    <insert id="insertReportParam" parameterType="codedriver.module.report.dto.ReportParamVo">
        INSERT INTO `report_param` (`id`,
                                    `report_id`,
                                    `name`,
                                    `type`,
                                    `label`,
                                    `config`,
                                    `sort`,
                                    `width`)
        VALUES (#{id},
                #{reportId},
                #{name},
                #{type},
                #{label},
                #{configStr},
                #{sort},
                #{width})
    </insert>

    <insert id="insertReport" parameterType="codedriver.module.report.dto.ReportVo">
        INSERT INTO `report` (`id`,
                              `name`,
                              `type`,
                              `sql`,
                              `condition`,
                              `content`,
                              `is_active`,
                              `fcu`,
                              `fcd`,
                              `lcu`,
                              `lcd`)
        VALUES (#{id},
                #{name},
                #{type},
                #{sql},
                #{condition},
                #{content},
                #{isActive},
                #{fcu},
                NOW(3),
                #{fcu},
                NOW(3))
    </insert>

    <insert id="insertReportAuth" parameterType="codedriver.module.report.dto.ReportAuthVo">
        INSERT INTO `report_auth` (`report_id`, `type`, `auth_uuid`)
        VALUES (#{reportId}, #{authType}, #{authUuid});
    </insert>


    <delete id="deleteReportAuthByReportId" parameterType="java.lang.Long">
        DELETE
        FROM `report_auth`
        WHERE `report_id` = #{value}
    </delete>

    <delete id="deleteReportById" parameterType="java.lang.Long">
        DELETE
        FROM `report`
        WHERE id = #{value}
    </delete>

    <delete id="deleteReportParamByReportId" parameterType="java.lang.Long">
        DELETE
        FROM `report_param`
        WHERE `report_id` = #{value}
    </delete>
</mapper>
